<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>サプーアプリ</title>
    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

       <h1>{{ prefecture }}の市区町村一覧</h1>
       <p><span style="font-size: 80%;">※あいうえお順<br>※未対応の市区町村は表示されていません
        </span></p>
       <ul>
           {% if cities %}
               {% for city in cities %}
                   <li><a href="/libs?key1={{ prefecture }}&key2={{ city }}">{{ city }}</a></li>
                  
               

               {% endfor %}
           {% else %}
               <li>該当する市区町村がありません</li>
           {% endif %}
       </ul>
   




                
    </body>
    </html>