<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>図書館一覧</title>
    </head>
    
    <body>
   
        
        <h1>図書館一覧</h1>
        <ul>
            {% for data in libs["data"] %}
                <li>
                    
                    <p>{{ data.formal }}<br>
                    システムID: <span id="systemid">{{ data.systemid }}</span></p>
                    <button class="idcopy" onclick="copyToClipboard1()">システムIDをコピー</button>
                </li>
            {% endfor %}
        </ul>
        
        <script>
            function copyToClipboard1() {
                // テキストを取得
                var systemid = document.getElementById("systemid");   
                // テキストを選択してコピー
                var range = document.createRange();
                range.selectNode(systemid);
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(range);
                document.execCommand("copy");
                window.getSelection().removeAllRanges();
            }
            </script>
    </body>
   
        

       



</html>