<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>図書館検索について</title>
    </head>
    <body><h2>図書館システムIDについて</h2>
        <p>
            図書館システムIDを入力すると、その図書館システムの蔵書検索が可能です。
            <br>以下からご利用の図書館のシステムIDを取得し、検索結果のテキストボックスに入力してください。
            <br>図書館やご指定の書籍の種類によっては貸出状況が表示できない場合があります。
            <br>【使い方】
            <br>・システムIDをコピーし、クロス検索結果のシステムID入力ボックスにペースト
            <br>・「保存」をしてから「検索」をクリック
            <br>・検索には時間がかかります。10秒程度お待ち下さい。
        </p>
        <h2>都道府県一覧</h2>
        <ul>
            {% for prefecture in prefectures %}
                <li><a href="/prefecture/{{ prefecture }}">{{ prefecture }}</a></li>
            {% endfor %}
        </ul>
    </body>
